* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: lightseagreen;

}

main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100vh;
  width: 100%;
  align-items: center;
  gap: 30px;

}

.card {
  border: 1px solid black;
  width: 50%;
  height: 300px;
  background-color: lightpink;
  padding: 10px;
  text-align: center;
}